<div style="text-align: center;">
  <h1 class="app-title">Todo List</h1>
  <i class="app-tagline">a todo app done using Angular</i>
</div>
<br /><br />
<div class="container">
  Add a todo...
  <br />
  <input
    type="text"
    class="input-text"
    placeholder="Type a todo"
    [(ngModel)]="todoValue"
    (keyup.enter)="addItem()"
  />
  
  <button class="add-btn" (click)="addItem()">Add Todo</button>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
        <input type="checkbox" name="isDone" [(ngModel)]="item.isDone" />
        {{ item.value }}
        <button class="btn" (click)="deleteItem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
